* {
  margin: 0;
  padding: 0;
}

:root {
  --color0: #808080;
  --color1: #365f91;
}

@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@font-face {
	font-family: "Título1";
	src: url("fonts/berlin-sans-fb-3.ttf") format("truetype");
}

body {
  display: flex;
}

aside {
  background-color: var(--color1);
  color: white;
  min-width: 310px;
  max-width: 350px;
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

main {
  max-width: 800px;
  padding: 1em;
  text-align: justify;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1em;
}

h1, h2 {
font-family: Título1, Verdana, sans-serif;
  font-weight: bold;
  color: var(--color1);
}

h1 {
  font-size: 3em;
}

hr {
  height: 2px;
  background-color: var(--color1);
  margin: 1em 0;
}

h2 {
  font-size: 1.4em;
  text-decoration: underline;
  margin: 2.5em 0 0.8em 0;
}

h3 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 0.2em;
}

.sub1 {
  color: var(--color0);
  margin-bottom: 1.5em;
}

.sub2 {
  color: var(--color0);
  margin-bottom: 0.2em;
}

main > ul > li {
  margin-bottom: 0.8em;
  margin-left: 1em;
}

#cargo2 {
  margin-top: 2.5em;
}

aside > img {
  display: block;
  margin: auto;
  border: 0.5em solid white;
  margin-bottom: 1em;
}

aside > p {
  font-family: Título1, sans-serif;
  font-size: 1.1em;
  padding-left: 1em;
  line-height: 1.2em;
}

h4 {
  font: normal bold 1.2em Título1, sans-serif;
  margin: 1em;
  text-align: center;
}

#contacts > p {
  font-family: Verdana, Helvetica, sans-serif;
  padding-left: 1em;
  padding-bottom: 1em;
}

.contactIcons {
  display: block;
  height: 1.5em;
}

#email {
  background-color: white;
}

#github {
  background-color: white;
  border-radius: 50%;
}

aside > ul > li {
  font-family: Título1, Helvetica, sans-serif;
  font-size: 1.1em;
  padding-left: 1em;
  line-height: 1.2em;
}

#tech > img {
  display: block;
  height: 4em;
  margin: 1.5em auto;
}